<%- include("includes/header.ejs"); %>
<%- include("includes/style.ejs"); %>

<style type="text/css">
    .container{
        margin:20px;
    }
    .trans-width{
        width: 125px;
        -webkit-transition: width 0.5s;
        -moz-transition:  width 0.5s;
        -ms-transition:  width 0.5s;
        -o-transition:  width 0.5s;
        transition:  width 0.5s;
    }
    .trans-width:hover{
        width: 150px;
        -webkit-transition: width 0.5s;
        -moz-transition:  width 0.5s;
        -ms-transition:  width 0.5s;
        -o-transition:  width 0.5s;
        transition:  width 0.5s;
    }
</style>

<div class="container">
    <h1><%= title %></h1>
    <p> <%= description %></p>

    <div class="btn-group btn-group-sm" role="group">
        <a href="/about" class="btn btn-primary trans-width">About</a>
        <a href="/developer/all" class="btn btn-primary trans-width">Developers</a>
        <a href="/game/all" class="btn btn-primary trans-width">Games</a>
        <a href="/player/all" class="btn btn-primary trans-width">Players</a>
        <a href="/server/all" class="btn btn-primary trans-width">Servers</a>
    </div>

</div>


<%- include("includes/footer.ejs"); %>
