<%- include("../includes/header.ejs", {title: result[0].server_name}); %>
<%- include("../includes/style.ejs"); %>

<div class="container">
    <h1><%= result[0].game_name_server %>: <%= result[0].server_name %></h1>

    <ul>
        <li>Server IP: <%= result[0].server_IP %></li>
        <li>Status: <%= result[0].server_status ? "Online" : "Offline" %></li>
        <li>Game: <a href="/game/?dev_name=<%= result[0].dev_name_server + "&game_name=" + result[0].game_name_server %>"><%= result[0].game_name_server %></a></li>
    </ul>
</div>

<%- include("../includes/footer.ejs"); %>