<%- include("../includes/header.ejs", {title: "Add New Server"}); %>
<%- include("../includes/style.ejs"); %>
<div class="container">

    <h1>Add New Server</h1>
    <form action="/server/insert" method="get">
        Server IP: <input id="server_ip" name="server_ip" type="text" />
        <br />
        Server Name: <input id="server_name" name="server_name" type="text" />
        <br />
        Server Status:
        <input type="radio" id="server_status" name="server_status" value="1" checked>Online <br />
        <input type="radio" id="server_status" name="server_status" value="0">Offline
        <br />
        Game:
        <select id="game_name_server" name="game_name_server">
            <% for(var i=0; games.length > i; i++ ) { %>
            <option value="<%= games[i].game_name %>"><%= games[i].game_name %></option>
            <% } %>
        </select>
        <br />
        Developer:
        <select id="dev_name_server" name="dev_name_server">
            <% for(var i=0; dev.length > i; i++ ) { %>
            <option value="<%= dev[i].dev_name %>"><%= dev[i].dev_name %></option>
            <% } %>
        </select>
        <br />
        <input type="submit" />

    </form>

</div>
<%- include("../includes/footer.ejs"); %>