<%- include("../includes/header.ejs", {title: result[0].server_name}); %>
<%- include("../includes/style.ejs"); %>

<div class="container">
    <h1><%= result[0].game_name_server %>: <%= result[0].server_name %></h1>

    <ul>
        <li>Server IP:Port: <b><%= result[0].server_IP + (result[0].Port_Number == null ? " - No Ports" :  ":" + result[0].Port_Number) %></b></li>
        <li>Status: <%= result[0].server_status ? "Online" : "Offline" %></li>
        <li>Game: <a href="/game/?dev_name=<%= result[0].dev_name_server + "&game_name=" + result[0].game_name_server %>"><%= result[0].game_name_server %></a></li>
        Players:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><a href="/player/?player_id=<%= result[i].player_ID %>"><%= result[i].username %></a></li>
            <% } %>
        </ul>
    </ul>
</div>

<%- include("../includes/footer.ejs"); %>